.order-successful-text {
	font-size: 100px;
	text-align: center;
	font-style: italic;
}

.order-successful-text-2 {
	font-size: 100px;
	text-align: center;
	font-style: italic;
}

.order-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: rgba(255, 255, 255, 0.76);
	height: 100vh;
	width: 100vw;
}
