.profile-dropdown {
	list-style: none;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	position: absolute;
	right: 6.5625rem; /* 105px / 16 */
	top: 4.6875rem; /* 75px / 16 */
	background-image: linear-gradient(to left, #000000, #0a0a0a, #000000);
	height: 12.5rem; /* 200px / 16 */
	width: 12.5rem; /* 200px / 16 */
	padding: 0.9375rem; /* 15px / 16 */
	border-radius: 0.3125rem; /* 5px / 16 */
	box-shadow: rgba(191, 154, 94, 0.301) 0px 5px 15px;
}

.cart-dropdown {
	list-style: none;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	top: 4.6875rem; /* 75px / 16 */
	right: 1.5625rem; /* 25px / 16 */
	background-image: linear-gradient(to left, #000000, #0a0a0a, #000000);
	height: 24rem; /* 384px / 16 */
	width: 25rem; /* 400px / 16 */
	padding: 0.9375rem; /* 15px / 16 */
	border-radius: 0.3125rem; /* 5px / 16 */
	box-shadow: rgba(191, 154, 94, 0.301) 0px 5px 15px;
}

/* .cart-item-container::-webkit-scrollbar {
	display: none;
} */

.cart-item-container::-webkit-scrollbar {
	width: 0.375rem;
}

.cart-item-container::-webkit-scrollbar-thumb {
	background-image: linear-gradient(
		to top,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	border-radius: 0.375rem; /* 6px / 16 */
	padding-left: 3.125rem; /* 50px / 16 */
}

.cart-item-container::-webkit-scrollbar-thumb:hover {
	color: #bf9a5e;
}

.navbar-ul {
	display: flex;
	position: fixed;
	top: 0;
	justify-content: space-between;
	align-items: center;
	z-index: 998;
	list-style-type: none;
	height: 8vh;
	width: 100%;
	padding: 0 1.25rem 0 1.25rem; /* 20px / 16 */
	background-image: linear-gradient(to left, #000000, #0a0a0a, #000000);
}

.profile-button {
	background-color: transparent;
	cursor: pointer;
	border-radius: 1.25rem; /* 20px / 16 */
	padding: 0.1875rem 0.9375rem 0.1875rem 0.9375rem; /* 3px 15px 3px 15px / 16 */
	border: none;
	margin-right: 1.25rem; /* 20px / 16 */
	font-size: 0.625rem; /* 10px / 16 */
	transition: all 0.5s ease;
	border: 0.01875rem solid rgb(66, 66, 66); /* 0.3px / 16 */
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.profile-button:hover {
	box-shadow: rgba(191, 154, 94, 0.144) 0rem 0.3125rem 0.9375rem; /* 0px 5px 15px / 16 */
	border: 0.01875rem solid #bf9a5e; /* 0.3px / 16 */
}

.home-button-navbar {
	display: flex;
	align-items: center;
	height: 100%;
}

.home-logo {
	height: 1.25rem; /* 20px / 16 */
	cursor: pointer;
}

.material-symbols-outlined {
	font-size: 2.1875rem; /* 35px / 16 */
}

.hidden {
	display: none;
}

.cart-hidden {
	display: none;
}

.profile-button-navbar {
	display: flex;
}

.indv-cart-items {
	display: flex;
	align-content: center;
	margin: 0.3125rem 0.625rem 1.25rem 0.625rem; /* 5px 10px 20px 10px / 16 */
	box-shadow: rgba(255, 255, 255, 0.075) 0.1875rem 0.09375rem 0.3125rem; /* 3px 1.5px 5px / 16 */
	border-radius: 0.9375rem; /* 15px / 16 */
	padding: 0.3125rem 0rem 0.3125rem 0rem; /* 5px 0px 5px 0px / 16 */
	width: 21.875rem; /* 350px / 16 */
	height: 6.25rem; /* 100px / 16 */
}

.cart-item-name-text {
	color: white;
	font-weight: bold;
}

.cart-item-quantity-text {
	color: white;
	background-color: transparent;
	border: 0.01875rem solid #bf9a5e; /* 0.3px / 16 */
	border-radius: 0.9375rem; /* 15px / 16 */
	padding: 0.1875rem 0.625rem 0.1875rem 0.625rem; /* 3px 10px 3px 10px / 16 */
	font-size: 0.8125rem; /* 13px / 16 */
}

.minus-btn {
	background-color: transparent;
	border: none;
	color: #bf9a5e;
	font-size: 1.1875rem; /* 19px / 16 */
	cursor: pointer;
}

.add-btn {
	background-color: transparent;
	border: none;
	color: #bf9a5e;
	font-size: 1.1875rem;
	cursor: pointer;
}

.add-btn-span {
	margin: 0 1.25rem 0 0.4375rem; /* 0 20px 0 7px / 16 */
}

.minus-btn-span {
	margin: 0 0.4375rem 0 0; /* 0 7px 0 0 / 16 */
}

.cart-item-price-text {
	display: flex;
	align-items: flex-end;
	color: white;
	font-size: 1.0625rem; /* 17px / 16 */
}

.cart-item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 23.75rem; /* 380px / 16 */
	height: 20.9375rem; /* 335px / 16 */
}

.cart-item-all-texts-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

.name-price-quantity-container {
	width: 100%;
}

.quantity-btns-only {
	margin-left: 0.625rem; /* 10px / 16 */
}

.price-container {
	margin-right: 0.3125rem; /* 5px / 16 */
}

#price-dollar-sign-text {
	color: #bf9a5e;
	font-weight: bold;
}

.delete-btn-actual {
	border: none;
	background-color: transparent;
}

.delete-btn-container {
	justify-self: flex-end;
}

.cart-item-desc-text {
	margin: 0.3125rem 0rem 0rem 0rem; /* 5px 0px 0px 0px / 16 */
	color: rgb(214, 214, 214);
	font-style: italic;
}

#desc-span {
	justify-self: flex-start;
	margin: 0.3125rem 0rem 0.625rem 4.875rem; /* 5px 0px 10px 78px / 16 */
	color: #bf9a5e;
	font-style: italic;
}

.checkout-btn {
	z-index: 999;
	text-align: center;
	width: 9.375rem; /* 150px / 16 */
	border-radius: 1.25rem; /* 20px / 16 */
	padding: 0.4375rem 0rem 0.4375rem 0rem; /* 7px 0 7px 0 / 16 */
	color: white;
	background-color: transparent;
	border: 0.01875rem solid #bf9a5e; /* 0.3px / 16 */
	cursor: pointer;
	transition: 0.3s ease;
}

.checkout-btn-div {
	align-items: flex-end;
	top: 25.5625rem; /* 409px / 16 */
	position: fixed;
	margin-left: 0.625rem; /* 10px / 16 */
	z-index: 999;
	padding-top: 0.625rem; /* 10px / 16 */
	background-image: linear-gradient(to left, #000000, #0a0a0a, #000000);
	width: 23.4375rem; /* 375px / 16 */
}

.checkout-btn:hover {
	box-shadow: rgba(255, 255, 255, 0.603) 0rem 0rem 0.625rem; /* 0px 0px 10px / 16 */
}

.total-text {
	color: white;
	padding: 0.9375rem 0rem 0rem 5rem; /* 15px 0px 0px 80px / 16 */
	font-size: 1.25rem; /* 20px / 16 */
	font-weight: bold;
}

.total-dollar-sign {
	color: #bf9a5e;
}

.preview-img {
	object-fit: cover;
	width: 5.3125rem; /* 85px / 16 */
	height: 5.3125rem; /* 85px / 16 */
	margin: 0.125rem 0.625rem 0rem 0.375rem; /* 2px 10px 0px 6px / 16 */
	border: 0.01875rem solid #bf9a5e; /* 0.3px / 16 */
	border-radius: 0.625rem; /* 10px / 16 */
}

.shopping-cart-button {
	background-color: transparent;
	cursor: pointer;
	border-radius: 1.25rem; /* 20px / 16 */
	padding: 0.1875rem 0.9375rem 0.1875rem 0.9375rem; /* 3px 15px 3px 15px / 16 */
	border: none;
	font-size: 0.625rem; /* 10px / 16 */
	transition: all 0.5s ease;
	border: 0.01875rem solid rgb(66, 66, 66); /* 0.3px / 16 */
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.shopping-cart-button:hover {
	box-shadow: rgba(191, 154, 94, 0.144) 0rem 0.3125rem 0.9375rem; /* 0px 5px 15px / 16 */
	border: 0.01875rem solid #bf9a5e; /* 0.3px / 16 */
}

.outter-search-bar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50rem; /* 50px / 16 */
	border: solid 0.01875rem #bf9a5e; /* 0.3px / 16 */
	color: rgba(255, 255, 255, 0.781);
	border-radius: 1rem; /* 10px / 16 */
	/* padding: 0.01875rem 0 0.01875rem 0.0625rem; /* 0.3rem 0 0.3rem 1rem / 16 */
}

/* .MuiAutocomplete-endAdornment,
.css-1q60rmi-MuiAutocomplete-endAdornment,
.MuiButtonBase-root,
.MuiIconButton-root,
.MuiIconButton-sizeMedium,
.MuiAutocomplete-popupIndicator,
.css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
	display: none !important;
} */

#search-bar-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 50rem; /* 50rem / 16 */
}

#search-bar-icon-mui {
	color: black;
	font-size: 1.2rem;
}

.MuiAutocomplete-root,
.MuiAutocomplete-hasPopupIcon,
.css-1h51icj-MuiAutocomplete-root {
	margin-left: 1rem; /* 1rem / 16 */
}

.css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper {
	background-image: linear-gradient(
		to left,
		#000000,
		#0a0a0a,
		#000000
	) !important;
}

.css-gdh49b-MuiAutocomplete-listbox::-webkit-scrollbar {
	width: 0.375rem !important; /* 6px / 16 */
	cursor: pointer !important;
}

.css-gdh49b-MuiAutocomplete-listbox::-webkit-scrollbar-thumb {
	background-image: linear-gradient(
		to top,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	) !important;
	background-size: 100% !important;
	border-radius: 0.375rem; /* 6px / 16 */
	padding-left: 3.125rem; /* 50px / 16 */
	cursor: pointer !important;
}

.css-gdh49b-MuiAutocomplete-listbox::-webkit-scrollbar-thumb:hover {
	color: #bf9a5e !important;
	cursor: pointer !important;
}

/* .search-icon-container-mui {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #bf9a5e;
	width: 3rem;
	border-top-right-radius: 10rem;
	border-bottom-right-radius: 10rem;
} */

#search-submit-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #bf9a5e;
	width: 3rem;
	height: 1.99rem;
	border-top-right-radius: 10rem;
	border-bottom-right-radius: 10rem;
	border: none;
	cursor: pointer;
}

#search-submit-btn:hover {
	cursor: pointer;
}

.search-icon-container-mui:hover,
#search-bar-icon-mui:hover {
	cursor: pointer;
}

.css-i4bv87-MuiSvgIcon-root,
.MuiAutocomplete-endAdornment,
.css-1q60rmi-MuiAutocomplete-endAdornment {
	display: none;
}
#search-bar-box {
	width: 42rem;
	/* border: solid 0.3px #bf9a5e; */
	color: rgba(255, 255, 255, 0.781);
	/* border-radius: 10rem; */
	/* padding: 0.3rem 0 0.3rem 1rem; */
}

.search-results-container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #bf9a5e;
	width: 60rem;
	border-radius: 0.2rem;
	transition: 0.5s ease;
}

.search-results-container:hover {
	border-bottom: 1px solid #eec179;
}

#search-icon {
	color: #d1b372;
}

.search-results-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#search-results-address {
	font-size: 1rem;
	font-weight: bold;
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

#search-results-name {
	font-size: 1rem;
	font-weight: bold;
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

#search-img-results {
	object-fit: cover;
	height: 4rem;
	width: 4rem;
	border-radius: 0.3rem;
	margin: 0 1rem 0 0;
	/* box-shadow: #bf9a5e46 0px 5px 15px; */
}

/* .search-bar-li {
	display: flex;
	border-radius: 15px;
	width: 50rem;
	border: solid 0.3px #bf9a5e;
	background-color: transparent;
} */

.search-bar-input {
	width: 40vw;
	height: 3.5vh;
	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.781);
}

.search-bar-input::placeholder {
	color: rgba(255, 255, 255, 0.781);
}

.search-bar-input:focus {
	color: rgba(255, 255, 255, 0.781);
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

input[type="search"]::-moz-clear {
	display: none;
}

.cart-icon-and-item-count-container {
	display: flex;
	justify-content: center;
}

/* #cart-item-count {
	font-size: 15px;
	padding: 5px 0 0  4px;
	font-weight: bold;
} */

.welcome-user-msg-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 0 0 0 0.625rem; /* 10px / 16 */
	text-align: center;
	width: 9.375rem; /* 150px / 16 */
}

.date-time-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 12.5rem; /* 200px / 16 */
	margin: 0.3125rem 0 0.3125rem 0; /* 5px / 16 */
}

.date-nav {
	color: white;
	font-size: 0.9375rem; /* 15px / 16 */
}

.time-nav {
	color: white;
	font-size: 0.9375rem; /* 15px / 16 */
}

.hi-user-msg-text,
.welcomeback-msg-text {
	color: rgba(255, 255, 255, 0.795);
	font-size: 0.875rem; /* 14px / 16 */
}

.add-items-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.add-items-text {
	text-align: center;
	color: white;
	font-size: 1.5625rem; /* 25px / 16 */
	font-style: italic;
}

.add-items-text-2 {
	text-align: center;
	color: white;
	font-size: 1.4375rem; /* 23px / 16 */
	font-style: italic;
}

.profile-all-txt-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
}
.name-date-container {
	border-bottom: 0.3px solid #bf9a5e;
}

.username-profile-btn-txt {
	font-size: 1rem;
	/* background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-weight: bolder;
	width: fit-content; */
	color: white;
}

.email-container {
	margin-top: 0.625rem; /* 10px / 16 */
}

.hey-there-text {
	color: white;
	font-size: 1.5625rem; /* 25px / 16 */
	margin-bottom: 0.9375rem; /* 15px / 16 */
}

.modal-btns-container-profile {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.profile-dropdown .modal-buttons {
	border: 0.01875rem solid #bf9a5e; /* 0.3px / 16 */
	background-color: transparent;
	color: white;
	width: 9.375rem; /* 150px / 16 */
	border-radius: 0.9375rem; /* 15px / 16 */
	padding: 0.3125rem; /* 5px / 16 */
	transition: 0.3s ease;
}

.profile-dropdown .modal-buttons:hover {
	cursor: pointer;
	box-shadow: rgba(255, 255, 255, 0.603) 0rem 0rem 0.625rem; /* 0px 0px 10px / 16 */
}

.create-res-container {
	display: flex;
	align-items: center;
	width: 15.625rem; /* 250px / 16 */
	margin-right: 1.25rem; /* 20px / 16 */
}

.logout-btn-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.create-res-btn {
	display: flex;
	justify-content: flex-start;
	width: 170px;
	border-bottom: 0.3px solid #bf9a5e;
	padding: 2px 7px 4px 0px;
	text-align: fle;
	cursor: pointer;
	transition: all 0.5s ease;
}

#plus-sign {
	background-color: transparent;
	border: none;
	font-size: 16px;
	margin-right: 5px;
	font-weight: bold;
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

#profile-icon-user-section {
	background-color: transparent;
	border: none;
	font-size: 16px;
	margin-right: 5px;
	font-weight: bold;
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

#create-new-txt {
	color: white;
	font-size: 14.5px;
}

#create-res-res-btn {
	background-color: transparent;
	border: none;
	font-size: 15.1px;
	margin-left: 4px;
	font-weight: bold;
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

#create-res-btn:hover {
	border-bottom: 0.3px solid #bf9a5e;
}

#logout-btn-profile {
	display: flex;
	justify-content: center;
	border: 0.3px solid #bf9a5e;
	background-color: transparent;
	color: white;
	width: 100px;
	border-radius: 15px;
	padding: 5px;
	transition: 0.3s ease;
	margin-bottom: 3px;
}

#logout-btn-profile:hover {
	cursor: pointer;
	box-shadow: rgba(255, 255, 255, 0.603) 0px 0px 10px;
}

#email-txt {
	color: white;
	font-size: 17px;
}

#profile-hello-text {
	color: white;
	font-size: 0.9rem;
}

.email-profile-btn-txt {
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-weight: bolder;
}

#shopping-cart-text-logo {
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-size: 40px;
	margin-bottom: 15px;
}

#search-bar-icon {
	color: #bf9a5e;
	font-size: 15px;
	padding: 7px 10px 6px 10px;
}

#shopping-cart-id {
	font-size: 30px;
}

#username-text {
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-weight: bolder;
	font-size: 15px;
}

#delete-button-id {
	cursor: pointer;
	font-size: 15px;
	color: white;
	border-radius: 15px;
	border: 0.3px solid #bf9a5e;
	padding: 1px 3px 1px 3px;
	margin-right: 8px;
	transition: 0.3s ease;
}

#delete-button-id:hover {
	color: rgb(255, 255, 255);
	box-shadow: rgba(255, 255, 255, 0.603) 0px 0px 10px;
}

#profile-button-id {
	font-size: 30px;
}

#logout-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	margin: 0 0 0 3px;
}
