.all-restaurants-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	margin-top: 6.25rem; /* 100px / 16 */
	width: 99vw;
}

.indv-restaurant-container {
	display: flex;
	width: 31.25rem; /* 500px / 16 */
	height: 18.75rem; /* 300px / 16 */
	padding: 0.625rem; /* 10px / 16 */
	border: 0.0625rem solid rgba(191, 154, 94, 0.116); /* 1px / 16 */
	border-radius: 0.3125rem; /* 5px / 16 */
	box-shadow: 0rem 0.5625rem 1.875rem rgba(191, 154, 94, 0.1); /* 0px 9px 30px */
	font-family: "Rajdhani", sans-serif;
	margin: 0 0.625rem 0.625rem 0.625rem; /* 10px / 16 */
	transition: 0.7s ease;
}

.indv-restaurant-container:hover {
	border: 0.01875rem solid #bf9a5e; /* 0.3px / 16 */
	box-shadow: rgba(191, 154, 94, 0.301) 0rem 0.3125rem 0.9375rem; /* 0px 5px 15px */
}

.home-page-img {
	display: flex;
	max-width: 100%;
	max-height: 50%;
	border-bottom: 0.01875rem solid #bf9a5e; /* 0.3px / 16 */
}

.actl-home-img1,
.actl-home-img2,
.actl-home-img3 {
	max-width: 33.3333%;
	object-fit: cover;
	height: 40rem;
	margin-top: 4.6875rem; /* 75px / 16 */
	padding: 0 0.3125rem 0 0.3125rem; /* 5px / 16 */
	border-radius: 0.9375rem; /* 15px / 16 */
	box-shadow: 0rem 0.5625rem 0.9375rem rgba(191, 154, 94, 0.1); /* 0px 9px 15px */
	opacity: 0.75;
}

.res-img {
	width: 30rem; /* 480px / 16 */
	height: 12.5rem; /* 200px / 16 */
	border-radius: 0.3125rem; /* 5px / 16 */
	object-fit: cover;
}

.res-navlink {
	width: 100%;
}

.res-navlink:visited,
.res-navlink:link,
.res-navlink:hover,
.res-navlink:active {
	text-decoration: none;
	color: white;
}

.text-overlay-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 43.75rem; /* 700px / 16 */
	text-align: center;
	z-index: 900;
	color: white;
	font-weight: bold;
}

.text-overlay-span {
	font-family: "Rajdhani", sans-serif;
	text-transform: uppercase;
	background-image: linear-gradient(
		-255deg,
		#dec489 0%,
		#f6e084 25%,
		#d1b372 50%,
		#e3cc97 75%,
		#bf9a5e 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 6s linear infinite;
	display: inline-block;
	font-size: 7.5rem; /* 120px / 16 */
	z-index: 900;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

#res-star-icon {
	font-size: 0.6875rem; /* 11px / 16 */
	margin: 0 0.1875rem 0 0; /* 3px / 16 */
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

#res-price-range {
	margin: 0 0.1875rem 0 0; /* 3px / 16 */
	font-size: 0.9375rem; /* 15px / 16 */
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-weight: bolder;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#res-center-dot {
	margin: 0 0.1875rem 0 0; /* 3px / 16 */
	font-size: 1.25rem; /* 20px / 16 */
	color: white;
}

#res-rating-fr {
	font-weight: bold;
}

#res-review-length {
	font-size: 0.8125rem; /* 13px / 16 */
}

#res-name-text {
	font-size: 1.375rem; /* 22px / 16 */
	font-weight: bold;
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

#res-more-text {
	color: white;
	font-weight: bold;
	font-size: 0.75rem; /* 12px / 16 */
	font-style: italic;
	margin: 0 0 0 0.3125rem; /* 5px / 16 */
}

#bubble-icon {
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	margin: 0 0.1875rem 0 0; /* 3px / 16 */
	font-size: 0.6875rem; /* 11px / 16 */
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

#res-preview-review-text {
	font-size: 0.8125rem; /* 13px / 16 */
	font-style: italic;
	color: rgba(255, 255, 255, 0.575);
}

#no-review-text {
	font-style: italic;
	font-size: 0.75rem; /* 12px / 16 */
}

.res-preview-review-container {
	margin: 0.4375rem 0 0 0; /* 7px / 16 */
	display: flex;
	border-top: 0.01875rem solid #bf9a5e; /* 0.3px / 16 */
	padding: 0.3125rem 0 0 0; /* 5px / 16 */
}

.res-rating-text {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9375rem; /* 15px / 16 */
	font-weight: normal;
}

.res-rating-name-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.res-address-text {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 400px) {
	.home-page-img {
		max-height: 20%;
	}

	.actl-home-img3 {
		max-width: 100%;
		height: 20rem;
	}

	.text-overlay-container {
		max-height: 60%;
	}

	.text-overlay-span {
		font-size: 2.4rem;
	}

	.actl-home-img1,
	.actl-home-img2 {
		display: none;
	}

	.all-restaurants-container {
		display: flex;
		flex-direction: column;
	}

	.indv-restaurant-container {
		max-width: 95%;
	}

	.res-img {
		max-width: 100%;
	}
}
