.hi-tester {
	color: white;
}

.no-results-info {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
	font-weight: bold;
	height: 99vh;
	background-image: linear-gradient(
		to right,
		#dec489,
		#f6e084,
		#d1b372,
		#e3cc97,
		#bf9a5e
	);
	background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

@media (max-width: 844px) {
	.no-results-info {
		justify-content: center;
		align-items: center;
		max-height: 80vh;
		height: 50vh;
		font-size: 1.8rem;
	}
}
