.create-menu-item-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.menu-item-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 0.0625rem solid rgba(255, 255, 255, 0.075); /* 1px */
	box-shadow: rgba(255, 255, 255, 0.144) 0rem 0.3125rem 0.9375rem; /* 0px 5px 15px */
	height: 30rem;
	width: 35rem;
}

.input-fields-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 15rem;
}

.create-menu-item-form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 35rem;
}

.button-photo-container {
	display: flex;
	justify-content: center;
}

.image-upload-container {
	display: flex;
	flex-direction: column;
	width: 32rem;
	margin: 1.25rem 0 0 0; /* 20px 0 0 0 */
}

#preview-image-error-text-menu {
	/* margin: 10px 0 0 0; */
}

#menu-item-title {
	display: flex;
	justify-content: center;
	margin: 0.625rem 0 0 0; /* 10px 0 0 0 */
	color: white;
	font-size: 1.5625rem; /* 25px */
}

.input-field-menu {
	width: 15rem;
	height: 2rem;
	background-color: transparent;
	border: 0.0625rem solid rgba(191, 154, 94, 0.733); /* 1px */
	border-radius: 0.3125rem; /* 5px */
	color: rgba(255, 255, 255, 0.678);
	transition: 0.5s ease;
	padding: 0.3125rem; /* 5px */
}

.input-field-menu:hover {
	border: 0.0625rem solid rgb(191, 154, 94); /* 1px */
}

.input-field-menu::placeholder {
	color: rgba(255, 255, 255, 0.678);
}

.name-menu,
.price-menu,
.description-menu {
	color: rgba(255, 255, 255, 0.966);
}

#upload-photo-menu::file-selector-button {
	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.719);
	border: 0.0625rem solid rgba(191, 154, 94, 0.733); /* 1px */
	border-radius: 0.3125rem; /* 5px */
	cursor: pointer;
	font-family: "Rajdhani", sans-serif;
	transition: 0.5s ease;
	width: 10rem;
	height: 2rem;
}

#upload-photo-menu::file-selector-button:hover {
	color: #ffffff;
	box-shadow: rgba(255, 255, 255, 0.301) 0.125rem 0rem 0.3125rem; /* 2px 0px 5px */
}

#upload-photo-menu {
	border: none;
	height: 2rem;
	padding: 0;
}

.publish-menu-item-btn {
	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.719);
	border: 0.0625rem solid rgba(191, 154, 94, 0.733); /* 1px */
	border-radius: 0.3125rem; /* 5px */
	cursor: pointer;
	font-family: "Rajdhani", sans-serif;
	transition: 0.5s ease;
	width: 20rem;
	height: 2rem;
}

.menu-item-btn-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.publish-menu-item-btn:hover {
	color: #ffffff;
	box-shadow: rgba(255, 255, 255, 0.301) 0.125rem 0rem 0.3125rem; /* 2px 0px 5px */
}

.price-name-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.menu-item-form-desc-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1.25rem 0 0 0; /* 20px 0 0 0 */
}

.description-menu {
	display: flex;
	width: 32rem;
}

#description-menu-input {
	resize: none;
	width: 32rem;
	height: 6rem;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex;
}

.error-message-text {
	color: white;
}

#menu-desc-error {
	display: flex;
	width: 32rem;
}

@media (max-width: 844px) {
	.create-menu-item-form {
		align-items: center;
	}
	.menu-item-container {
		max-width: 99%;
		width: 99%;
		max-height: 85vh;
		height: 85vh;
	}

	.price-name-container {
		flex-direction: column;
		align-items: flex-start;
	}

	#menu-item-name,
	#price-menu,
	#description-menu-input {
		max-width: 20rem;
		width: 20rem;
	}

	.menu-item-form {
		margin: 0 0 1rem 0;
	}

	.description-menu {
		max-width: 99%;
		width: 99%;
	}

	.menu-item-form-desc-container,
	.menu-item-form-desc-container {
		justify-content: flex-start;
		align-items: flex-start;
	}

	.image-upload-container {
		max-width: 99%;
		width: 99%;
	}

	.button-photo-container {
		justify-content: flex-start;
		margin: 9rem 0 0 0;
	}

	#menu-desc-error {
		max-width: 99%;
		width: 99%;
	}
}
